VITE_API_URL=/api/v1
VITE_COMPANY_NAME=Painel CMD
VITE_COMPANY_SHORT_NAME=PDC
VITE_COMPANY_LEGAL_NAME=SMARTFLOW TECNOLOGIA EIRELI
VITE_COMPANY_CNPJ=19.252.656/0001-20
VITE_COMPANY_PHONE=+55 11 92104-7460
VITE_COMPANY_WHATSAPP=5511921047460
VITE_COMPANY_WHATSAPP_LABEL=+55 11 92104-7460
VITE_COMPANY_EMAIL=contato@paineldecomando.com.br
VITE_COMPANY_ADDRESS=Rua Cabreúva, Sorocaba - SP, CEP 18085-340
VITE_COMPANY_HOURS=Atendimento em horário comercial
VITE_COMPANY_DELIVERY_NOTICE=Entregas exclusivamente em território brasileiro.
